@font-face {
    font-family: 'zantrokeregular';
    src: url('') format('woff2'),
         url('') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1 {
  font-family: 'zantrokeregular', serif;
}
.center-image {
  display: block;
  margin: auto;
}  
.text-center {
  text-align: center
}
