h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  margin: 0;
  padding-bottom: 6px;
  color: orange;
}
img {
    width=10px;
}
.center-image {
  display: block;
  margin: auto;
}  
.text-center {
  text-align: center
}
